body{
    background-color: rgb(103, 103, 255) !important;
 
}

.container{
    min-height: 100vh;
    background-color: rgb(103, 103, 255) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-footer{
    border-top: 1px solid rgba(138, 138, 138, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-card{
    width: 35rem;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger{
    color: white !important;
}

.width-100{ /* generische style, die man für mehrere Sachen verwenden kann, die 100% breite haben sollen*/
    width: 100%;
    height: 100%;
    
}

.text-center{
    text-align: center;
}

.trophy-headline{
    font-size: 38px;
    margin-bottom: 32px;
}

.button-restart{
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 14px;
}